<div class="title-block">
  <h3 class="title pull-left">
      Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button (click)="onRefresh()" class="btn-sm btn btn-primary-outline">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<section class="section">
  <div class="row" *ngIf="bill == undefined || corrancy == undefined ">....loading </div>
  <div class="row" *ngIf="bill != undefined || corrancy != undefined ">
    <MyM-bill-card [bill]= 'bill' [currency] = 'corrancy'></MyM-bill-card>
    <MyM-currency-card  [currency] = 'corrancy'></MyM-currency-card>
  </div>
</section>
